<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="玩具の部屋">
    <meta property="og:image" content="https://ganglion-room.github.io/novel/images/og.webp">
    <meta property="og:type" content="website">

<!--表か裏か-->
    <title>玩具の部屋{% if page.ura %}（裏）{% endif %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='80' font-family='sans-serif' fill='%23f8b500' style='paint-order: stroke; stroke: %23fff; stroke-width: 8px;'>玩</text></svg>">
    <link rel="stylesheet" href="{{ '/style/all.css' | relative_url }}">
    <link href="https://googleapis.com" rel="stylesheet">
</head>
<header>
<body id="over">
    <div class="to-under">
        <a href="#under">▼ 下へ</a>
    </div>
</header>

<main>
    <h1>{{ page.ept }}</h1>
{{ content }}  <!-- ← ここに各話の中身が自動で入る -->
</main>

<footer><!-- ここに既成のフッター -->
   <hr class="separator">

<!--前話　次話-->
<div class="ep">
    {% if page.prev %}
      <a href="{{ page.prev }}.html" class="prev-ep">← 前話へ</a>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next }}.html" class="next-ep">次話へ →</a>
    {% endif %}
</div>

    <div class="return" id="under">
        <a href="#over" class="to-over">▲ ページの上へ</a>

<!--目次　ホームページ　トップへ-->
        <a href="{{ page.snp }}.html" class="to-synopsis">目次に戻る</a>

    {% if page.ura %}
        <a href="../../Gallery.html" class="to-home">裏トップへ戻る🔑</a>
    {% else %}
        <a href="../../index.html" class="to-home">トップへ戻る🏠️</a>
    {% endif %}
    </div>
</footer>

</body>
</html>
